@import "tailwindcss";

@theme {
  --color-primary: #FDF8F3;
  --color-secondary: #F3E7E4;
  --color-accent: #2C7A76;
  --color-background: #2A2B2A;
}

@layer base {
  * { box-sizing: border-box; }
  body { margin: 0; }
}
